@import "../../../scss/mixins.scss";
@mixin button($c,$rad){
     border: 2px solid $c;padding: 8px 20px;border-radius: $rad;font-size: 1.2rem;
     color: $c;cursor: pointer;transition: .3s ease all;font-weight: 500;
     &:hover:not(:disabled){background-color: $c;color: white;}&:disabled{border-color: grey; color: grey;cursor: auto;}
}
@mixin size($w,$h){width:$w;height: $h;}
@mixin makeBox($c,$hc){color: $c;cursor: pointer;transition: .3s ease all;&:hover{color: $hc;}}