@import "../../scss/variables.scss";
$content-background: #fafafa;
$grey: #777;
@mixin flex-align($j,$a){justify-content: $j;align-items: $a;}
@mixin button($w: 100%, $c){
     width: $w;font-size: 20px;padding: 8px 20px;border: 2px solid $c;background: none;outline: none;color: $c;border-radius: 7px;transition: .3s ease all;cursor: pointer;
     &:hover{background-color: $c;color: white;}
}
.weather-container{
     display: flex;flex-direction: column;@include flex-align(center, center);
     min-height: 100vh;background-color: $blue-primary;
     .upper{
          width: 100%;max-width: 620px;background: $content-background;padding: 25px;
          margin: 10px 0;border-radius: 10px;text-align: center;
          .app-header{
               display: flex;@include flex-align(space-between, center);margin-top: 5px;h1{padding: 0 10px;}button{width: 20%;border: none;outline: none;background: none;cursor: pointer;transition: .3s ease-in-out;img{width: 36px;}&:hover{opacity: 0.5;}}
          }
          .frm-group{
               margin: 10px 0;display: flex;@include flex-align(space-between, center);
               input{width: 75%;margin: 8px;padding: 8px 20px;border: 2px solid $grey;border-radius: 7px;outline: none;font-size: 20px;transition: .3s ease all;&::placeholder{color: $grey;}&:focus{border-color: $blue-primary;}}button{@include button(25%, $blue-primary);}
          }
          .geo-btn{@include button(95%, $blue-primary);}
     }
     .lower{
          width: 100%;max-width: 620px;background-color: $content-background;
          padding: 25px;border-radius: 10px;display: flex;@include flex-align(center, center);flex-direction: column;margin: 10px 0;
          h2{margin: 10px 0;}.weather-type{font-size: 24px;}
          .details{width: 100%;font-size: 32px;padding: 0 20px;display: flex;@include flex-align(center, center);h2{margin-left: 20px;}img{max-width: 96px;margin: 0;padding: 0;}}
          .other-details{
               padding: 0 10px;list-style: none;font-size: 18px;display: flex;
               @include flex-align(space-between, center);
               li{display: flex;@include flex-align(space-between, center);margin: 20px 30px;img{width: 32px;margin: 0 10px;}}
          }
     }
}