<div class="notes-container">
     <div class="upper">
       <div class="app-title">
         <h1>Notes</h1>
         <div class="tabs">
           <button [ngClass]="{'active': tab === 'notes'}" (click)="switchTab('notes')"><span class="material-symbols-outlined">edit_note</span></button>
           <button [ngClass]="{'active': tab === 'deleted'}" (click)="switchTab('deleted')"><span class="material-symbols-outlined">folder_delete</span></button>
         </div>
       </div>
       <form class="form" [formGroup]="frmNotes" (ngSubmit)="!canEdit ? addNote() : editNote()">
         <input type="text" name="title" id="title" class="inputBox" placeholder="Title" formControlName="title">
         <textarea name="note" id="onte" class="noteBox" placeholder="Write Any Note" rows="10" formControlName="note"></textarea>
         <button type="submit" [disabled]="frmNotes.get('title')?.hasError('hasAnyBlankSpaces') && frmNotes.get('note')?.hasError('hasAnyBlankSpaces')" *ngIf="!canEdit">Add</button>
         <button type="submit" [disabled]="frmNotes.get('title')?.hasError('hasAnyBlankSpaces') && frmNotes.get('note')?.hasError('hasAnyBlankSpaces')" *ngIf="canEdit">Edit</button>
       </form>
     </div>
     <div class="lower" *ngIf="tab === 'notes'">
         <div class="note" *ngFor="let nt of notes; let i=index">
           <h2>{{nt.title}}</h2>
           <p>{{nt.note}}</p>
           <div class="buttons">
             <button type="button" (click)="openEdit(i)" secondSelection><span class="material-symbols-outlined">edit</span></button>
             <button type="button" (click)="deleteNote(i)"><span class="material-symbols-outlined">delete</span></button>
             <button type="button" (click)="openViewModal(i)"><span class="material-symbols-outlined">open_in_new</span></button>
           </div>
         </div>
     </div>
     <div class="lower" *ngIf="tab === 'deleted'">
       <div class="note" *ngFor="let nt of deleted; let i=index">
         <h2>{{nt.title}}</h2>
         <p>{{nt.note}}</p>
         <button class="oneBtn" (click)="deleteForever(i)"><span class="material-symbols-outlined">delete_forever</span></button>
       </div>
     </div>
     <div class="modal-container" *ngIf="viewMdl"> 
       <div class="view-modal" *ngIf="viewMdl">
         <button type="button" class="closeBtn" (click)="closeViewModal()"><span class="material-symbols-outlined">close</span></button>
         <h2>{{viewTitle}}</h2>
         <p>{{viewNote}}</p>
       </div>
     </div>
   </div>