@import "../../scss/mixins.scss";
.quote-container{
     display: flex;@include flex-align(center, center);min-height: 100vh;background-color: $blue-primary;
     .wrapper{
          width: 605px;background: white;border-radius: 15px;padding: 30px 30px 25px;h2{font-size: 35px;font-weight: 600;text-align: center;}
          .content{
               margin: 35px 0;
               .quoteArea{
                    display: flex;justify-content: center;
                    .quote-icon{font-size: 18px;&:last-child{margin: 0 0 3px 10px;display: flex;align-items: flex-end;}&:first-child{margin: 3px 10px 0 0;transform: rotate(180deg) translateY(100%);}}.quote{font-size: 22px;text-align: center;word-break: break-all;}
               }
               .author{display: flex;justify-content: flex-end;font-size: 18px;font-style: italic;margin-top: 20px;span:first-child{margin: -7px 5px 0 0;font-family: monospace;}}
          }
          .btns{
               border-top: 1px solid #ccc;
               .features{
                    display: flex;@include flex-align(space-between, center);margin-top: 20px;
                    ul{display: flex;list-style: none;li{margin: 0 5px;height: $quote-feature-size;width: $quote-feature-size;display: flex;@include flex-align(center, center);border-radius: 50%;border: 2px solid $blue-primary;cursor: pointer;transition: .3s ease all;span{color: $blue-primary; transition: .3s ease all;}&:hover{background: $blue-primary; span{color: white;}}}}
                    button{outline: none;border: none;color: white;cursor: pointer;font-size: 16px;padding: 13px 22px;border-radius: 30px;cursor: pointer;background: $blue-primary;transition: .2s ease all;&:hover{background: #204829;}&.loading{opacity: .7;pointer-events: none;}}
               }
          }
     }
}