@import "./defval.scss";
.ol-control,
.ol-control:hover {
    background-color: transparent !important;
    padding: unset !important;
}
button {
     font-size: 32px !important;
     font-weight: 500 !important;
     margin: 10px !important;
     cursor: pointer !important;
     height: 48px !important;
     width: 48px !important;
     color: white !important;
     background-color: $defaultColor !important;
     box-shadow: 0 5px 25px rgba($color: $defaultColor, $alpha: 0.5)       !important;
     outline: none !important;
     transition: .3s !important;
     line-height: 0 !important;
     border-radius: 15px !important;
     &:hover{ background-color: $defaultDark !important;}
}
.zoom-control {
     bottom: 0.5em;
     right: 0.5em;
}
.full-screen-btn{
     bottom: 0.5em;
     left: 0.5em;
}