$light: #f1f1f1 !default;
$blue-primary: #0092ff!default;
$blue-secondary: #1e6bb9 !default;
$btn-radius: 8px;
$btn-padding: 10px 20px;
$green: #22b455 !default; 
$note-input: 18px;
$note-br: 7px; 
$grey: #9f9f9f; 
$red: #dc3545 !default;
$content-bg: #fafafa !default;
$to-do-br: 8px;
$dark: #353b48 !default;
$toast-success: #22b455 !default;
$toast-error: #dc3545 !default;
$toast-warning: #e9bd0c !default;
$toast-info: #3498d8 !default;
$quote-feature-size: 47px;
$light-green: #1dd1a1;