$br: 8px;$green: #22b455;
$red: #dc3545;$content-bg: #fafafa;
@import "./scss/mixins.scss";
.to-do-container-ngxs{
     display: flex;@include flex-align(center, center);flex-direction: column;min-height: 100vh;background: $green;color: #333;transition: .3s ease all;padding: 15px;
     @import "./scss/checkbox.scss";
     .upper{
          background: $content-bg;padding: 30px;border-radius: $br;display: flex;flex-direction: column;width: 100%;max-width: 720px;
          .app-title{
               display: flex;@include flex-align(space-between, center);
               .buttons{
                    display: flex;
                    .opt-btn{
                         display: flex;@include flex-align(center, center);
                         border: none;outline: none;background: none;border: 2px solid $green;border-radius: $br;text-align: center;
                         font-size: 1.2rem;padding: 0.5em;cursor: pointer;color: $green;transition: all .3s ease;margin: 5px;
                         .icon{margin-right: 5px;color: inherit; transition: inherit .3s;}
                         &:hover, &.active{color: white; background: $green;}
                    }
               }
          }
          .form{
               width: 100%;margin: 10px 0;display: flex;flex-direction: column;
               .form-details{
                    width: 100%;display: flex;@include flex-align(space-between, center);
                    .input{
                         padding: 10px;border: 2px solid #ccc;outline: none;
                         width: 80%;border-radius: 5px;transition: .3s ease all;
                         font-size: 1.2rem;&:focus{border-color: $green;}
                         &.error{border-color: $red;color: $red;&::placeholder{color: $red;}}
                    }
                    .btn{@include button($green,$br)}
               }
               p.error{color: $red;margin: 5px;font-size: 18px;}
          }
          .tab-link{
               display: flex;@include flex-align(space-between, center);list-style: none;
               li{border: 2px solid $green;padding: 8px 20px;border-radius: $br;font-size: 1.2rem;color: $green;cursor: pointer;transition: .3s ease all;font-weight: 500;&:hover, &.active{background-color: $green;color: white;}}
          }
     }
     .lower{
          width: 100%;max-width: 720px;
          .contentVal{
               .toDoList{
                    margin: 5px;display: flex;@include flex-align(center, center);
                    flex-direction: column;list-style: none;
                    .toDo{
                         width: 100%;display: flex;@include flex-align(space-between, center);
                         background: $content-bg;margin: 5px 0;padding: 10px 20px;.icon{@include makeBox(#333,$green)}
                         &.hide{animation: hide .5s ease forwards;}
                         .content{width: 90%;p{word-break: break-all;margin: 10px 0;font-size:13.5px;&:not(.created){font-size: 25px;}}}
                    }
               }
          }
          .settings{width: 100%;display: flex;flex-direction: column;@include flex-align(center, center);background: $content-bg;margin: 5px 0;padding: 20px;border-radius: $br;margin: 10px 0;}
     }
}
@keyframes hide{100%{opacity: 0;}}
@import "./scss/resp.scss";